<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <properties>
        <property name="LOG_TIME">E:/logs</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <File name="Main" fileName="logs\${sys:Time4File}\Main.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="KeybindManager" fileName="logs\${sys:Time4File}\KeybindManager.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="PluginManager" fileName="logs\${sys:Time4File}\PluginManager.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="VirtualDesk" fileName="logs\${sys:Time4File}\VirtualDesk.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="VirtualDeskManager" fileName="logs\${sys:Time4File}\VirtualDeskManager.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="Window" fileName="logs\${sys:Time4File}\Window.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="WindowManager" fileName="logs\${sys:Time4File}\WindowManager.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>

    <Loggers>
        <Logger name="Main" level="trace" additivity="true">
            <AppenderRef ref="Main" />
            <!-- <AppenderRef ref="Console" /> -->
        </Logger>
        <Logger name="KeybindManager" level="trace" additivity="true">
            <AppenderRef ref="KeybindManager" />
            <!-- <AppenderRef ref="Console" /> -->
        </Logger>
        <Logger name="PluginManager" level="trace" additivity="true">
            <AppenderRef ref="PluginManager" />
            <!-- <AppenderRef ref="Console" /> -->
        </Logger>
        <Logger name="VirtualDesk" level="trace" additivity="true">
            <AppenderRef ref="VirtualDesk" />
            <!-- <AppenderRef ref="Console" /> -->
        </Logger>
        <Logger name="VirtualDeskManager" level="trace" additivity="true">
            <AppenderRef ref="VirtualDeskManager" />
            <!-- <AppenderRef ref="Console" /> -->
        </Logger>
        <Logger name="Window" level="trace" additivity="true">
            <AppenderRef ref="Window" />
            <!-- <AppenderRef ref="Console" /> -->
        </Logger>
        <Logger name="WindowManager" level="trace" additivity="true">
            <AppenderRef ref="WindowManager" />
            <!-- <AppenderRef ref="Console" /> -->
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>