<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <properties>
        <property name="LOG_TIME">E:/logs</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <File name="Main" fileName="logs\${sys:Time4File}\Main.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="KeybindManager" fileName="logs\${sys:Time4File}\KeybindManager.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="PluginManager" fileName="logs\${sys:Time4File}\PluginManager.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="VirtualDesk" fileName="logs\${sys:Time4File}\VirtualDesk.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="VirtualDeskManager" fileName="logs\${sys:Time4File}\VirtualDeskManager.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="Window" fileName="logs\${sys:Time4File}\Window.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="WindowHookManager" fileName="logs\${sys:Time4File}\WindowHookManager.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="VirtualDeskFilter" fileName="logs\${sys:Time4File}\VirtualDeskFilter.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="VirtualDeskRouter" fileName="logs\${sys:Time4File}\VirtualDeskRouter.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="ILayout" fileName="logs\${sys:Time4File}\ILayout.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="LayoutFilter" fileName="logs\${sys:Time4File}\LayoutFilter.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="Context" fileName="logs\${sys:Time4File}\Context.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="Plugin" fileName="logs\${sys:Time4File}\Plugin.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>

    <Loggers>
        <Logger name="Main" level="trace" additivity="true">
            <AppenderRef ref="Main" />
        </Logger>
        <Logger name="KeybindManager" level="trace" additivity="true">
            <AppenderRef ref="KeybindManager" />
        </Logger>
        <Logger name="PluginManager" level="trace" additivity="true">
            <AppenderRef ref="PluginManager" />
        </Logger>
        <Logger name="VirtualDesk" level="trace" additivity="true">
            <AppenderRef ref="VirtualDesk" />
        </Logger>
        <Logger name="VirtualDeskManager" level="trace" additivity="true">
            <AppenderRef ref="VirtualDeskManager" />
        </Logger>
        <Logger name="Window" level="trace" additivity="true">
            <AppenderRef ref="Window" />
        </Logger>
        <Logger name="WindowHookManager" level="trace" additivity="true">
            <AppenderRef ref="WindowHookManager" />
        </Logger>
        <Logger name="VirtualDeskFilter" level="trace" additivity="true">
            <AppenderRef ref="VirtualDeskFilter" />
        </Logger>
        <Logger name="VirtualDeskRouter" level="trace" additivity="true">
            <AppenderRef ref="VirtualDeskRouter" />
        </Logger>
        <Logger name="ILayout" level="trace" additivity="true">
            <AppenderRef ref="ILayout" />
        </Logger>
        <Logger name="LayoutFilter" level="trace" additivity="true">
            <AppenderRef ref="LayoutFilter" />
        </Logger>
        <Logger name="Context" level="trace" additivity="true">
            <AppenderRef ref="Context" />
        </Logger>
        <Logger name="Plugin" level="trace" additivity="true">
            <AppenderRef ref="Plugin" />
        </Logger>
        
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>